.landing {
  font-family:Ubuntu Mono;
  font-size: 1vw;
  position: relative;
}

.hero-title {
  font-size: 3.5vw;
  font-weight: 900;
  color: rgb(250,230,230);
  margin: 3vw 3vw 3vw 3vw
}


ion-icon {
  color: rgb(62,33,84);
  font-size: 2vw;
}

.point-description {
  font-size: 1vw;
  color: rgb(250,183,10);
}


.point-title {
  font-size: 2vw;
  color: rgb(250,230,230);
  position: relative;
  margin-bottom: 30px;
}
