.landing {
  font-family:Ubuntu Mono;
  font-size: 1vw;
  position: relative;
}

.hero-title {
  font-size: 3.5vw;
  font-weight: 900;
  color: rgb(250,230,230);
  margin: 3vw 3vw 3vw 3vw
}


ion-icon {
  color: rgb(190,121,179);
  font-size: 2vw;
}

.point-description {
  font-size: 1vw;
  font-weight: 570;
  color: rgb(25, 5, 30);
}


.point-title {
  font-size: 2vw;
  color: rgb(30,40,40);
  position: relative;
  margin-bottom: 30px;
}
