.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-color infinite 10s linear;
  height: 80px;
  font-family: Audiowide;
  color: rgb(219,211,50);
  font-size: 5vw;
  margin-top: 2vw;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-size: 2vw;
}

.header {
  font-size: 2vw;
  color: white;
}

.LandingLink {
  color: rgb(210,230,230);
  width: 15vw;
  height: 4vw;
  font-size: 2vw;
  font-weight: bold;
  background-color: rgb(160,121,179);
  border: none;
  text-decoration: none;
}

.LibraryLink {
  color: rgb(210,230,230);
  width: 15vw;
  height: 4vw;
  font-size: 2vw;
  font-weight: bold;
  background-color: rgb(190,121,179);
  border: none;
  text-decoration: none;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-color {
  0% { color: rgb(250,230,230); }
  50% { color: rgb(250,183,150); }
  100% { color: rgb(250,230,230); }
}
